			<footer id="line-footer">
				<div class="line-wrap line-center">
					<div class="line-social">
						<a class="line-icon-facebook" href="#">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="line-icon-twitter" href="#">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="line-icon-dribbble" href="#">
							<i class="fa fa-dribbble"></i>
						</a>
						<a class="line-icon-instagram" href="#">
							<i class="fa fa-instagram"></i>
						</a>
					</div>
					<div class="line-copyright">
						Copyright © 2014 <a href="http://linethemes.com/" target="_blank">LineThemes</a> !. All Rights Reserved. Designed by <a href="http://linethemes.com/" target="_blank">LineThemes.com</a>
					</div>
				</div>
			</footer>
			<!--end Footer-->