<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- it's temporary, untile the site is completed -->
		<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.description }}</title>
		<meta name="author" content="{{ site.author }}">
		
		{% capture description %}
			{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
		{% endcapture %}
		<meta name="description" content="{{ description }}">
		
		{% if page.tags %}
			<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}">
		{% endif %}

		<meta name="author" content="Ugo Lattanzi" />

		<link rel="shortcut icon" href="assets/img/favico.ico">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/apple-icon-114x114px.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/apple-icon-144x144px.png" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/shortcode.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/woocommerce.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="assets/3rd/font-awesome/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="assets/3rd/nivo-lightbox/nivo-lightbox.css" />
		<link rel="stylesheet" type="text/css" href="assets/3rd/nivo-lightbox/themes/default/default.css" />

		<!-- Google Font -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,700" />
		
		<!--[if IE]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		<![endif]-->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-52361930-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>