<div id="line-content-top">
    <div class="line-wrap line-sidebar-top">
        <div class="line-column line3">
            <aside class="widget">
                <h3 class="line-title">Blog</h3>
                <ul>
                    <li><a data-event-label="BlogEn" data-event-category="Menu" href="http://tostring.it">English</a>
                    </li>
                    <li><a data-event-label="BlogIt" data-event-category="Menu" href="http://imperugo.tostring.it">Italian</a>
                    </li>
                </ul>
            </aside>
            <aside class="widget">
                <h3 class="line-title">Layout</h3>
                <ul>
                    <li><a href="no-sidebar.html">No Sidebar</a>
                    </li>
                    <li><a href="sidebar-left.html">Sidebar Left</a>
                    </li>
                    <li><a href="sidebar-right.html">Sidebar Right</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="line-column line3">
            <aside class="widget">
                <h3 class="line-title">Social</h3>
                <ul>
                    <li><a data-event-label="Facebook" data-event-category="Menu" href="https://www.facebook.com/imperugo" target="_blank">Facebook</a>
                    </li>
                    <li><a data-event-label="Twitter" data-event-category="Menu" href="http://twitter.com/imperugo" target="_blank">Twitter</a>
                    </li>
                    <li><a data-event-label="Linkedin" data-event-category="Menu" href="https://www.linkedin.com/in/imperugo" target="_blank">Linkedin</a>
                    </li>
                    <li><a data-event-label="Google+" data-event-category="Menu" href="https://plus.google.com/+UgoLattanzi/" target="_blank">Google+</a>
                    </li>
                    <li><a data-event-label="Github" data-event-category="Menu" href="https://github.com/imperugo" target="_blank">Github</a>
                    </li>
                    <li><a data-event-label="Vimeo" data-event-category="Menu" href="https://vimeo.com/imperugo" target="_blank">Vimeo</a>
                    </li>
                    <li><a data-event-label="Foursquare" data-event-category="Menu" href="https://foursquare.com/imperugo" target="_blank">Foursquare</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="line-column line3">
            <aside class="widget">
                <h3 class="line-title">Portfolio Pages</h3>
                <ul>
                    <li><a href="portfolio-bg.html">Portfolio Background</a>
                    </li>
                    <li><a href="portfolio-ajax.html">Portfolio Masonry Ajax</a>
                    </li>
                    <li><a href="portfolio-ajax-sidebar.html">Portfolio Ajax With Sidebar</a>
                    </li>
                    <li><a href="portfolio-grid.html">Portfolio Grid</a>
                    </li>
                    <li><a href="portfolio-grid-sidebar.html">Portfolio Grid With Sidebar</a>
                    </li>
                    <li><a href="portfolio-single.html">Single</a>
                    </li>
                    <li><a href="portfolio-single-sidebar.html">Single With Sidebar</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="line-column line3">
            <aside class="widget">
                <h3 class="line-title">Blog Pages</h3>
                <ul>
                    <li><a href="blog-grid.html">Blog Grid</a>
                    </li>
                    <li><a href="blog-grid-sidebar.html">Blog Grid With Sidebar</a>
                    </li>
                    <li><a href="blog-large.html">Blog Large Image</a>
                    </li>
                    <li><a href="blog-medium.html">Blog Medium Image</a>
                    </li>
                    <li><a href="blog-single.html">Single</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</div>
<!--end line-content-top-->