{% include head.html %}

<body class="{{ page.bodyClass }}">
	<div id="line-wrapper">
		{{ content }}

		{% include footer.html %}

		<a href="#" id="line-gotop">
			<i class="fa fa-chevron-up"></i>
		</a>

	</div>
	<!--end line-wrapper-->

	<script type="text/javascript" src="assets/3rd/jquery/jquery-core.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-isotope.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-flexslider.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-validate.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-countTo.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-countdown.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-waypoints.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-scrollReveal.js"></script>
	<script type="text/javascript" src="assets/3rd/jquery/jquery-imagesloaded.js"></script>
	<script type="text/javascript" src="assets/3rd/nivo-lightbox/nivo-lightbox.js"></script>
	<script type="text/javascript" src="assets/js/components.js"></script>
	<script type="text/javascript" src="assets/js/theme.js"></script>
</body>